<template>
    <v-group>
        <v-image :config="tmpConfig.tmpIncrease" @click="executeAction('increment')" />
        <v-image :config="tmpConfig.tmpDecrease" @click="executeAction('decrement')" />
        <v-image :config="tmpConfig.tmpUndo" @click="executeAction('undo')" />
        <v-image :config="tmpConfig.tmpRedo" @click="executeAction('redo')" />
    </v-group>
</template>

<script>
import { mapState } from 'vuex';

// TODO: #13: make the ActionMenu reactive to actions passed to it
export default {
    props: {
        actions: {
            type: Object,
            required: true,
        },
    },
    data: function() {
        return {};
    },
    computed: {
        ...mapState('gamestate', {
            entities: 'entities',
        }),
        tmpConfig() {
            const tmpIncrease = {
                image: this.entities.plusButton.asset['@data'],
                width: 30,
                height: 30,
                offsetX: 20,
                offsetY: 70,
            };
            const tmpDecrease = {
                image: this.entities.minusButton.asset['@data'],
                offsetX: '-20',
                offsetY: '70',
                width: '30',
                height: '30',
            };
            const tmpUndo = {
                image: this.entities.undoButton.asset['@data'],
                offsetX: '-60',
                offsetY: '70',
                width: '30',
                height: '30',
            };
            const tmpRedo = {
                image: this.entities.redoButton.asset['@data'],
                offsetX: '-100',
                offsetY: '70',
                width: '30',
                height: '30',
            };
            return {
                tmpIncrease: tmpIncrease,
                tmpDecrease: tmpDecrease,
                tmpUndo: tmpUndo,
                tmpRedo: tmpRedo,
            };
        },
    },
    methods: {
        executeAction(actionID) {
            const action = this.actions[actionID];
            this.$emit('request-action-resolution', action);
        },
    },
};
</script>
